﻿
@{
    ViewBag.Title = "Login";
}

<h2 align="center">Login</h2>
<style>
    tr.spaceUnder > td {
        padding-bottom: 2em;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
    <div ng-app="">
        <br /><br />
        <table border="0" width="400" align="center">
            <tr>
                <td>User Name</td>
                <td><input type="text" ng-model="uName" /></td>
            </tr>
            <tr  class="spaceUnder">
                <td>Password</td>
                <td><input type="text" ng-model="uPw" /></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <button>Login</button>
                </td>
            </tr>
        </table>
    </div>
</body>



